In [1]:
from keras.models import load_model
import pandas as pd

Using TensorFlow backend.

In [10]:
model = load_model('finalmodel.h5')

In [11]:
ateams = pd.read_csv('data/MDataFiles_Stage1/MNCAATourneySeeds.csv').drop(['Seed'],axis=1)
ateams = ateams[ateams['Season'] > 2014].reset_index(drop=True)
ateams.head()

   Season  TeamID
0    2015    1437
1    2015    1438
2    2015    1328
3    2015    1257
4    2015    1320

In [12]:
averages = pd.read_csv('teamaverages.csv')
margins = []
for index, row in averages.iterrows():
    margin = row['TScore'] - row['AScore']
    margins.append(margin)
averages['Margin'] = margins

In [13]:
averages.columns

Index(['Season', 'TeamID', 'TScore', 'AScore', 'TFGM', 'TFGA', 'TFGM3',
       'TFGA3', 'TFTM', 'TFTA', 'TOR', 'TDR', 'TAst', 'TTO', 'TStl', 'TBlk',
       'TPF', 'AFGM', 'AFGA', 'AFGM3', 'AFGA3', 'AFTM', 'AFTA', 'AOR', 'ADR',
       'AAst', 'ATO', 'AStl', 'ABlk', 'APF', 'Margin'],
      dtype='object')

In [14]:
cols = averages.columns

fifteen = pd.DataFrame(columns = cols)
sixteen = pd.DataFrame(columns = cols)
seventeen = pd.DataFrame(columns = cols)
eighteen = pd.DataFrame(columns = cols)
nineteen = pd.DataFrame(columns = cols)
years = [fifteen, sixteen, seventeen, eighteen, nineteen]

for index, row in ateams.iterrows():
    year = row['Season']
    ID = row['TeamID']
    sstats = list(averages[(averages['Season'] == year) & (averages['TeamID'] == ID)].reset_index(drop = True).loc[0])
    if year == 2015:
        fifteen.loc[len(fifteen)] = sstats
    if year == 2016:
        sixteen.loc[len(sixteen)] = sstats
    if year == 2017:
        seventeen.loc[len(seventeen)] = sstats
    if year == 2018:
        eighteen.loc[len(eighteen)] = sstats
    if year == 2019:
        nineteen.loc[len(nineteen)] = sstats

In [15]:
nineteen.head()

,Season,TeamID,TScore,AScore,TFGM,TFGA,TFGM3,TFGA3,TFTM,TFTA,...,AFTM,AFTA,AOR,ADR,AAst,ATO,AStl,ABlk,APF,Margin
0,2019.0,1181.0,83.5,67.6,30.5,63.9,7.3,24.1,15.2,22.1,...,10.6,15.3,12.0,23.7,12.3,14.8,6.5,3.2,17.7,15.9
1,2019.0,1277.0,78.8,65.5,27.8,57.2,8.3,21.6,15.0,20.0,...,11.6,17.1,11.0,20.9,12.4,10.3,6.4,2.9,18.3,13.3
2,2019.0,1261.0,81.4,73.0,28.5,61.7,6.8,21.2,17.5,23.2,...,13.9,20.2,11.0,22.7,11.3,15.0,6.6,3.0,19.7,8.4
3,2019.0,1439.0,74.0,62.1,25.8,54.2,9.6,24.3,12.9,17.0,...,10.1,14.0,8.9,21.0,12.2,14.1,5.1,2.9,16.3,11.9
4,2019.0,1280.0,77.3,70.1,27.6,58.5,8.6,22.8,13.5,18.9,...,12.9,18.1,10.2,21.8,12.5,13.6,5.9,3.7,16.6,7.2

In [16]:
games = pd.read_csv('data/MDataFiles_Stage1/MNCAATourneyCompactResults.csv').drop(['NumOT','DayNum','WLoc'],axis=1)
games = games[games['Season'] > 2014].reset_index(drop=True)
games.head(2)

   Season  WTeamID  WScore  LTeamID  LScore
0    2015     1214      74     1264      64
1    2015     1279      94     1140      90

In [17]:
def makeloserfirst(df):
    output = pd.DataFrame(columns = ['Season','TeamID1','1Score','TeamID2','2Score'])
    for index, row in df.iterrows():
        if row['WTeamID'] > row['LTeamID']:
            row = list(row[['Season','LTeamID','LScore','WTeamID','WScore']])
        else:
            row = list(row[['Season','WTeamID','WScore','LTeamID','LScore']])
        output.loc[len(output)] = row
    return output
ordered = makeloserfirst(games)

In [18]:
finalcols = ['TeamID', 'TScore', 'AScore', 'TFGM', 'TFGA',
       'TFGM3', 'TFGA3', 'TFTM', 'TFTA', 'TOR', 'TDR', 'TAst', 'TTO', 'TStl',
       'TBlk', 'TPF', 'AFGM', 'AFGA', 'AFGM3', 'AFGA3', 'AFTM', 'AFTA', 'AOR',
       'ADR', 'AAst', 'ATO', 'AStl', 'ABlk', 'APF', 'Margin']

cols2 = finalcols + ["2" + stat for stat in finalcols]
revcols2 = ["2" + stat for stat in finalcols] + finalcols

I HAVE TO CONNECT GAMES WITH THE YEARLY DATASETS(FIFTEEN, SIXTEEN, ETC.) SO THAT I AM ADDING THE TEAM STATS TO FINALDATA

In [19]:
dictionary = {2015:fifteen,2016:sixteen,2017:seventeen,2018:eighteen,2019:nineteen}

finaldata = pd.DataFrame(columns = cols2)
for index, row in ordered.iterrows():
    yeardf = dictionary[row['Season']]
    av1 = yeardf[yeardf['TeamID'] == row['TeamID1']].drop(['Season'],axis=1).values.tolist()[0]
    av2 = yeardf[yeardf['TeamID'] == row['TeamID2']].drop(['Season'],axis=1).values.tolist()[0]
    av = av1+av2
    finaldata.loc[len(finaldata)] = av

In [20]:
ids = finaldata[['TeamID','2TeamID']]
finaldata = finaldata.drop(['TeamID','2TeamID'],axis=1)
finaldata.head(5)

,TScore,AScore,TFGM,TFGA,TFGM3,TFGA3,TFTM,TFTA,TOR,TDR,...,2AFTM,2AFTA,2AOR,2ADR,2AAst,2ATO,2AStl,2ABlk,2APF,2Margin
0,67.2,68.0,22.8,56.0,5.7,18.6,15.8,24.3,12.2,24.8,...,18.6,26.4,11.0,23.1,13.1,16.6,6.9,3.9,22.1,2.4
1,81.8,72.9,27.2,59.1,8.2,21.4,19.2,25.0,11.9,25.8,...,15.6,22.8,11.7,23.1,13.9,12.7,5.0,3.6,18.7,5.1
2,69.9,60.9,24.2,53.4,8.7,22.3,12.8,17.5,8.5,24.0,...,11.1,16.4,9.4,23.3,12.1,13.6,5.2,3.6,20.1,7.3
3,73.9,68.5,24.8,54.5,8.7,22.9,15.6,21.5,9.5,24.7,...,13.8,20.9,12.8,22.9,14.5,14.6,6.5,3.5,18.0,1.3
4,76.4,58.6,26.7,54.6,5.1,14.1,18.0,25.7,10.8,26.4,...,11.9,18.5,12.1,22.0,12.0,12.3,6.5,3.8,20.7,0.8

In [24]:
results = model.predict(finaldata)

In [27]:
finalresults = []
for num in results:
    num = round(num[0],7)
    finalresults.append(num)

In [28]:
finalresults

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.7200793,
 1.0,
 0.0,
 0.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.0,
 0.7200793,
 0.0,
 0.0,
 0.7200793,
 0.0,
 0.0,
 0.7200793,
 0.7200793,
 0.7200793,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.7200793,
 0.7200793,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 1.0,
 0.7200793,
 0.7200793,
 0.7200793,
 1.0,
 0.7200793,
 0.0,
 1.0,
 0.0,
 0.7200793,
 1.0,
 0.7200793,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.7200793,
 0.7200793,
 0.0,
 0.0,
 0.69017,
 0.7200793,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 0.7200793,
 0.7200793,
 0.0,
 0.7200793,
 1.0,
 0.7200793,
 0.0,
 0.0,
 0.7200793,
 1.0,
 0.7200793,
 0.7200793,
 0.0,
 0.7200793,
 1.0,
 1.0,
 0.0,
 0.7200793,
 0.7200793,
 1.0,
 0.0,
 1.0,
 0.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 0.7200793,
 1.0,
 0.7200793,
 0.0,
 1.0,
 0.7200793,
 0.7200793,
 1.0,
 0.0,
 0.7200793,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.7200793,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.7200793,
 0.7200793,
 1.0,
 0.7200793,
 0.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 0.7200793,
 0.7200793,
 1.0,
 0.7200793,
 0.7200793,
 0.0,
 1.0,
 1.0,
 0.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 1.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.7200793,
 0.7200793,
 0.0,
 0.7200793,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 1.0,
 1.0,
 0.7200793,
 0.7200793,
 1.0,
 0.0,
 0.7200793,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 1.0,
 0.0,
 0.7200793,
 0.0,
 0.7200793,
 0.7200793,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.7200793,
 0.7200793,
 0.0,
 0.7200793,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 0.7200793,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7200793,
 0.0,
 0.7200793,
 0.0,
 0.7200793,
 0.0,
 0.7200793,
 0.7200793,
 0.0,
 0.7200793,
 0.7200793,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.7200793,
 0.7200793,
 0.0,
 0.0]